<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/clinica?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="pojo/FichaMedica.hbm.xml"/>
    <mapping resource="pojo/Agenda.hbm.xml"/>
    <mapping resource="pojo/Usuario.hbm.xml"/>
    <mapping resource="pojo/Estudios.hbm.xml"/>
    <mapping resource="pojo/Seguimiento.hbm.xml"/>
    <mapping resource="pojo/Paciente.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
